.banner {
    display: flex;
    justify-content: center;
}
.banner img {
    width: 100%;
    height: calc(100vh - 76px);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 820px) {
    .banner img {
        width: 220%;
        height: 80vh;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    .banner img {
        width: 350%;
        height: 80vh;
    }
}